@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --col1-1: rgb(129,205,219);
  --col1-2: rgb(189,229,236);
  --col1-3: rgb(123,153,203);
  --col2-1: rgb(241,142,67);
  --col2-2: rgb(246, 198, 162);
  --col3-1: rgb(235, 125, 140);
  --col3-2: rgb(252, 179, 206);
  --col3-3: rgb(253, 193, 216);
}

.text-btn{
  color: black;
}
.text-btn:hover{
  color: rgb(223, 62, 106);
}
