@tailwind base;
@tailwind components;
@tailwind utilities;

.font-marcellus{
  font-family: 'Marcellus';
}

.bg-col1{
  background-color: rgb(129,205,219);
}
.bg-col3{
  background-color: rgb(241,142,67);
}
.bg-col2{
  background-color: rgb(189, 229, 236);
}
.bg-col4{
  background-color: rgb(246, 198, 162);
}

.text-btn{
  color: black;
}
.text-btn:hover{
  color: rgb(223, 62, 106);
}